<div class="profile">
	<img src="app/assets/images/logos/logo.png" alt="">
</div>
<div>
	
</div>
<ul class="nav nav-pills nav-stacked">

	<li role="presentation" data-ng-class="IC.getClass('root.dashboard')">
		<a data-ui-sref="root.dashboard">
				<div style="line-height: 1.5em;">
						<i class="fa fa-list-ul" aria-hidden="true"></i> Dashboard</div>
		</a>
	</li>

	<li role="presentation" ng-if="IC.UserRole == 'Admin' || IC.UserRole =='Lab Biller'" data-ng-class="IC.getClass('root.labbilling')">
		<a data-ui-sref="root.labbilling">
				<div style="line-height: 1.5em;">
						<i class="fa fa-list-ul" aria-hidden="true"></i> Lab Billing</div>
		</a>
	</li>

	<li role="presentation"  ng-if="IC.UserRole == 'Admin' || IC.UserRole =='Radiology Biller'" data-ng-class="IC.getClass('root.radiologybilling')">
		<a data-ui-sref="root.radiologybilling">
				<div style="line-height: 1.5em;">
						<i class="fa fa-list-ul" aria-hidden="true"></i> Radiology Billing</div>
		</a>
	</li>

	<li role="presentation"  ng-if="IC.UserRole == 'Admin' || IC.UserRole =='Pharmacist'" data-ng-class="IC.getClass('root.pharmacybilling')">
		<a data-ui-sref="root.pharmacybilling">
				<div style="line-height: 1.5em;">
						<i class="fa fa-list-ul" aria-hidden="true"></i> Pharmacy Billing</div>
		</a>
	</li>

	<li role="presentation"  ng-if="IC.UserRole == 'Admin' || IC.UserRole =='Cashier'" data-ng-class="IC.getClass('root.billpayment')">
		<a data-ui-sref="root.billpayment">
				<div style="line-height: 1.5em;">
						<i class="fa fa-list-ul" aria-hidden="true"></i> Bill Payment</div>
		</a>
	</li>
</ul>