<div class="profile">
	<img src="assets/images/logos/friss-logo.svg" alt="">
</div>
<div>
<!-- <a style="text-decoration: none;" data-ui-sref="root.newdocument">
	<button data-ng-class="IC.getClass('root.newdocument')" class="addbutton" aria-label="New">New</button>
</a> -->
	
</div>
<ul class="nav nav-pills nav-stacked">

	<li role="presentation" data-ng-class="IC.getClass('root.newdocument')">
		<a data-ui-sref="root.newdocument">
			<div style="line-height: 1.5em;">
				<i class="fa fa-plus-square-o" aria-hidden="true"></i> New Document</div>
		</a>
	</li>

	<li role="presentation" data-ng-class="IC.getClass('root.dashboard')">
		<a data-ui-sref="root.dashboard">
				<div style="line-height: 1.5em;">
						<i class="fa fa-list-ul" aria-hidden="true"></i> All Documents</div>
		</a>
	</li>
</ul>